<h2
  style="
    text-align: center;
    margin-top: 100px;
    font-weight: bold;
    font-size: 50px;
  "
>
  SHARE LIST
</h2>
<div style="display: flex; justify-content: space-around">
  <div class="share-container">
    <mat-form-field class="input-one" [style.width.px]="300">
      <mat-label>Email to share with: </mat-label>
      <input matInput [formControl]="emailFormControl" />
    </mat-form-field>
    <button (click)="ShareList()" class="submit-btn">Submit</button>
    <p style="color: red; font-weight: bold">{{ errMessage }}</p>
  </div>
  <div *ngIf="currentTodoList">
    <h2>Shared Users</h2>
    <div
      *ngFor="let user of currentTodoList?.shared_with"
      style="
        margin-bottom: 10px;
        margin-right: 50px;
        border-radius: 12px;
        padding: 10px;
        background-color: #3f51b5;
        color: white;
        border: 2px solid black;
        border-radius: 8px;
        width: calc(100% + 100px);
      "
    >
      <span style="display: flex; justify-content: space-around">
        <p>Email:</p>
        <p>
          <strong>{{ user.email }}</strong>
        </p>
      </span>
      <span style="display: flex; justify-content: space-around">
        <p>Name:</p>
        <p>
          <strong>{{ user.name }}</strong>
        </p>
      </span>

      <div style="display: flex; align-items: center; justify-content: center">
        <button
          matTooltip="Delete"
          mat-icon-button
          class="example-icon favorite-icon"
          aria-label="Example icon-button with heart icon"
          (click)="DeleteSharedList(user.email)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
